@CHARSET "UTF-8";

.adicionaCarreira {
	position:relative;
	width: 30%;
	height: 100%;
	float: left;
}

.listaCarreira {
	position: relative;
	width: 30%;
	height: 100%;
	float: left;
}

.adicionaCurso {
	position:relative;
	width: 30%;
	height: 100%;
	float: left;
}

.listaCursos {
	position: relative;
	width: 30%;
	height: 100%;
	float: left;
}